!!!
%html
  %head
    %title= SiteConfig.title
    %meta{:name => 'charset',     :content => 'utf-8' }
    %meta{:name => 'description', :content => '#{ SiteConfig.description }' }
    %meta{:name => 'keywords',    :content => '#{ SiteConfig.keywords }' }
    %meta{:name => 'viewport',    :content => 'width=device-width' }

    %link{:href => '/stylesheets/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    %link{'rel' => 'shortcut icon', 'href' => '/favicon.png'}
  %body
    #content= yield
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{ SiteConfig.google_analytics_id }']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

